body {
  background: #24353f;
  font-family: "Titillium Web", sans-serif;
}

#home {
  height: 75vh;
}

h1 {
  color: #17a2b8;
}

.group {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

/* input,
textarea {
  background-color: transparent !important;
  color: #fff !important;
}

label {
  background-color: transparent !important;
  color: #fff;
} */

/* input::placeholder,
textarea::placeholder {
  color: rgb(182, 182, 182) !important;
} */

/* input:focus,
textarea:focus {
  box-shadow: 0 0 0 0 transparent !important;
} */

/* Add this custom CSS to move the Logout button to the right */
.navbar-nav {
  margin-left: auto;
}

/* Define the keyframes for the running lights */
/* @keyframes running-lights {
  0%,
  100% {
    border-color: #45f3ff;
    box-shadow: 0 0 10px #45f3ff, 0 0 20px #45f3ff, 0 0 30px #45f3ff,
      0 0 40px #45f3ff, 0 0 50px #45f3ff;
  }
  50% {
    border-color: #ff2770;
    box-shadow: 0 0 10px #ff2770, 0 0 20px #ff2770, 0 0 30px #ff2770,
      0 0 40px #ff2770, 0 0 50px #ff2770;
  }
}

.container {
  border: 2px solid #45f3ff;
  border-radius: 10px;
  animation: running-lights 4s linear infinite;
} */

/* Define the keyframes for the running lights */
@keyframes running-lights {
  0%,
  100% {
    border-color: #45f3ff;
    box-shadow: 0 0 10px #45f3ff, 0 0 20px #45f3ff, 0 0 30px #45f3ff,
      0 0 40px #45f3ff, 0 0 50px #45f3ff;
  }
  50% {
    border-color: #ff2770;
    box-shadow: 0 0 10px #ff2770, 0 0 20px #ff2770, 0 0 30px #ff2770,
      0 0 40px #ff2770, 0 0 50px #ff2770;
  }
}

.group {
  border: 2px solid #45f3ff;
  border-radius: 10px;
  animation: running-lights 4s linear infinite;
}
